

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #a30f36;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    color: #a30f36;
    background-color: #ffff;
}
.navbar-collapse, .navbar-inverse{
    background-color: #a30f36;
    border-color: #a30f36;
    color : #ffff;
}

.elements > button{
    background-color: #a30f36;
    border-color: #a30f36;
    margin-top: 5%;
    
}
.elements > button:hover, .elements > button.active, .elements > button:focus {
    background-color: #ffff !important;
    border-color: #ffff !important;
    color: #000 !important;
}


.row.content {height: 450px}


.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}


footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

h1 {
    color: black; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: xx-large; /* Le texte est grossi en XXL */
}

#historique {     
    color: black; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: large; /* Le texte est grossi en XXL */
}  

#historique img{
    width: 50%;    
}

#terroir {     
    color: black; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: large; /* Le texte est grossi en XXL */     
}  

#terroir img{
    width: 50%;   
}

#domaine {     
    color: black; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: large; /* Le texte est grossi en XXL */    
}  

#domaine img{
    width: 50%;
    
}


#thematique {
    display: flex; /* Ce conteneur est "flexible" */
    flex-wrap: nowrap; /* Les éléments sont placés sur une seule ligne */
    align-content: center;
    margin-top: 450px;
}



#thematique article {
    display: flex; /* Ce conteneur est "flexible" */
    flex: 1; /* flex-grow: 1 et flex-shrink:1 = Chaque élément occupe l'espace idéal (le + et le - à la fois) */
    height: 500px; /* Hauteur */
    border: transparent thin solid; /* Bordure transparente */
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: row;
    
}
#thematique a {
    display: flex; /* Ce conteneur est "flexible" */
    font-size: xxx-large; /* Le texte est grossi en XXL */
    color: white; /* Couleur du texte */
    justify-content: space-between;
    text-align: center;
    
}
#gauche, #milieu, #droite{
    justify-content: space-between;
}

/* #gauche, #milieu, #droite {
    display: flex;  Ce conteneur est "flexible" 
    border: black thin solid;  Bordure au passage de la souris 
    border-radius: 10px; Bords arrondis au passage de la souris 
    background-color: #ededed;  Fond au passage de la souris 
} */

/* #gauche {   
    background: transparent url('images/Berger des Vignes_BasseDef_Brut.png') no-repeat center 10px;  Fond 
    width: 30%; La page occupe toute la largeur 
    
   
}

#milieu {    
    background: transparent url('images/Berger_des_Vignes_BasseDef_Insolite.png') no-repeat center 0;  Fond 
    width: 30%; La page occupe toute la largeur 
   
}

#droite {    
    background: transparent url('images/Berger_des_Vignes_BasseDef_Authentique.png') no-repeat center 10px;  Fond 
    width: 30%;  La page occupe toute la largeur 
   
}*/






@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

